
.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "googleMap googleMap googleMap googleMap googleMap"
    "googleMap googleMap googleMap googleMap googleMap"
    "googleMap googleMap googleMap googleMap googleMap";
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}

.Map{
    grid-area: googleMap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header{
    grid-area: header;
}